{{define "content"}}
<header>
  <h2>Groups:</h2>
</header>

<section class="group-list">
  {{range .groups}} {{if .groupName == .title}}
  <a href="#!" class="current-group">{{.groupName}}</a>
  {{else}}
  <a href="/{{.username}}/{{.groupID}}">{{.groupName}}</a>
  {{end}} {{end}}
  <a href="#!" class="new-group-btn">+ New</a>
</section>

<section>
  <div class="table">
    {{range .participants}}
    <div class="group-member">
      <a href="{{.member-link}}">
        <strong>{{.memberName}}</strong>
      </a>
      <a href="#!" class="del-btn">Remove</a>
    </div>
    {{end}}
  </div>
</section>
