/*
    *****************
    **** Colors *****
    *****************

    blue: #39AFBF
    dark blue: #269EAE
    link blue: #68EDFF
    footer blue: #1A6F7A
    orange: #E58718
    dark orange: #E0720D
    black: #2D2D2D
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
}

body {
  background-color: #2d2d2d;
}

footer {
  background-color: #1a6f7a;
  min-height: 20rem;
}

/*  
    Typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5,
h6,
p,
a,
li,
label,
span,
pre,
strong {
  font-size: 1.6rem;
}

small {
  font-size: 1.4rem;
}

a {
  color: #68edff;
}

.logo-type {
  position: relative;
  bottom: -1rem;
  font-size: 7rem;
  color: #e58718;
}

/*
Homepage
*/

.signin-signup {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 80%;
}

.textbox-left {
  grid-column-start: 2;
}

.textbox-right {
  grid-column-start: 3;
}

.intro-img-left {
  grid-column-start: 2;
}

.intro-img-right {
  grid-column-start: 3;
}

.intro {
  margin: 15rem auto;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 1fr 10%;
  column-gap: 3rem;
}

.section-background {
  position: absolute;
  background-color: #39afbf;
  width: 100%;
  min-height: 20rem;
  z-index: -1;
}

/* 
Components 
*/

.home-logo {
  display: flex;
  justify-content: center;
  margin: 8rem auto 5rem auto;
}

.cta-btn {
  color: white;
  padding: 0.8rem 1.6rem;
  margin: 2rem 2rem;
  min-width: 30rem;
  border-radius: 5px;
  text-decoration: none;
}

.cta-btn-blue {
  background-color: #39afbf;
}

.cta-btn-orange {
  background-color: #e58718;
}

.textbox-left,
.textbox-right {
  max-width: 40rem;
}
