/* 
 * **************************************************
 * ******************** Colors **********************
 * **************************************************
 *
 *   blue: #39AFBF
 *   dark blue: #269EAE
 *   link blue: #68EDFF
 *   footer blue: #1A6F7A
 *   orange: #E58718
 *   dark orange: #E0720D
 *   black: #2D2D2D
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
}

body {
  background-color: #2d2d2d;
}

footer {
  background-color: #1a6f7a;
  min-height: 20rem;
}

/* 
 * **************************************************
 * ****************** Typography ********************
 * **************************************************
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5,
h6,
p,
a,
li,
label,
span,
pre,
strong {
  font-size: 1.6rem;
  font-family: 'Roboto';
}

small {
  font-size: 1.4rem;
}

a {
  color: #68edff;
}

.home-logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column-reverse;
}

.logo-type {
  position: relative;
  /* bottom: -1rem; */
  /* font-size: 5rem; */
  color: #e58718;
}

/* 
 * **************************************************
 * ******************* Home Page ********************
 * **************************************************
 */

.signin-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

.textbox-left {
  grid-column-start: 2;
}

.textbox-right {
  grid-column-start: 3;
}

.intro-img-left {
  grid-column-start: 2;
}

.intro-img-right {
  grid-column-start: 3;
}

.intro {
  margin: 5rem auto;
  text-align: center;
  /* margin: 3rem; */
  /* position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 1fr 10%;
  column-gap: 3rem; */
}

.intro p {
  text-align: left;
  margin: 0 4rem;
}

.section-background {
  background-color: #39afbf;
  width: 100%;
  min-height: 20rem;
}

/* 
 * **************************************************
 * ****************** Components ********************
 * **************************************************
 */

.home-logo {
  display: flex;
  justify-content: center;
  margin: 8rem auto 5rem auto;
}

.cta-btn {
  color: white;
  padding: 0.8rem 1.6rem;
  margin: 2rem;
  min-width: 25rem;
  border-radius: 5px;
  text-decoration: none;
}

.cta-btn-blue {
  background-color: #39afbf;
}

.cta-btn-orange {
  background-color: #e58718;
}

.textbox-left,
.textbox-right {
  max-width: 40rem;
}
