{{define "base.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <script src="../static/scripts/script.js"></script>
    <noscript>
      <style type="text/css">
        .js-required {
          display: none;
        }
      </style>
    </noscript>
    <title>{{.title}}</title>
  </head>
  <body class="body-mobile">
    <nav>
      <div class="navlinks">
        <div id="Profile-nav">
        <a href="/profile" >
          <img src="../images/icons/profile-wht.svg" alt="Profile" class="icon"><br>
          Profile
        </a>
      </div>
      <div id="Lobbies-nav">
        <a href="/lobbies" >
          <img src="../images/icons/grid-wht.svg" alt="Lobbies" class="icon"><br>
          Lobbies
        </a>
      </div>
      <div id="New-nav">
        <a href="/lobbyform" >
          <img src="../images/icons/add-wht.svg" alt="Add" class="icon"><br>
          New Lobby
        </a>
      </div>
      <div id="Inbox-nav">
        <a href="/inbox" >
          <img src="../images/icons/bell-alert.svg" alt="Add" class="icon"><br>
          Inbox
        </a>
      </div>
      <div id="Groups-nav">
        <a href="/groups" >
          <img src="../images/icons/people-wht.svg" alt="Groups" class="icon"><br>
          Groups
        </a>
      </div>
      </div>

      {{if eq .title "Lobby"}}
      <div class="del-lobby-btn">
        <img src="#" alt="" class="del-img" />
        <span>Delete Lobby</span>
      </div>
      {{end}}
      </div>
    </nav>

    <div class="icon-settings">
      <img src="../images/icons/gear.svg" alt="Settings" class="icon">
  </div>
    <div class="app-logo top-margin-med center">
      <h1 class="logo-type">Lobbo.io</h1>
      <img src="../images/logo-bubbles.svg" class="logo-img">
    </div>
  


    {{template "content" .}}

    <!-- TODO Create popup for for quick lobby creation -->
  </body>
  <script>
    // highlightCurrentNav({{.title}} + "-nav")
  </script>
</html>
{{end}}
