{{define "content"}}
<header class="page-title">
  <h3>Groups</h3>
</header>

<section class="group-links">
  {{range .groups}} 
    <a href="#group{{.GroupID}}">{{.Name}}</a>
  {{end}}
  <a href="#!" class="new-group-btn">+ New</a>
</section>

<section class="groups">

  {{range .groups}}
  <div class="list">

    <header class="list-title">
      <h3>{{.Name}}</h3>
    </header>

    <div id="{{.GroupID}}">
      {{range .Members}}
      <div class="group-member list-item">

        <a href="/profile/{{.LeaderID}}">
          <strong>{{.Firstname}} {{.Lastname}}</strong>
        </a>

        <form method="post">
          <input type="hidden" name="del-id" value="{{.LeaderID}}">
          <input type="submit" value="Remove" name="remove" class="submit btn cta-btn-orange">
        </form>

      </div>
      {{end}}
    </div>

  </div>
  {{end}}

</section>

{{end}}