{{define "content"}}
<header class="page-title top-margin-sm">
  <h2>Groups</h2>
</header>

<section class="group-links tabs">
  {{range .groups}} 
    <a href="#grp{{.GroupID}}" class="tab">{{.Name}}</a>
  {{end}}
  <a href="/new/groups" class="new-group-btn tab">+ New</a>
</section>
<br><br>

<section class="groups">

  {{range .groups}}
  {{$gid := .GroupID}}
  <article class="list" id="grp{{$gid}}">

    <header class="list-title">
      <h3>{{.Name}}</h3>
      <form method="post">
        <input type="hidden" name="groupname" value="{{.Name}}">
        <input type="hidden" name="group_id" value="{{$gid}}">
        <input type="submit" value="+" class="edit-group submit btn cta-btn-orange">
      </form>
      <!-- <a href="/edit/groups/{{$gid}}" class="edit-group submit btn cta-btn-orange">+</a> -->
    </header>

    {{range .Members}}
    {{if .LeaderID}}
    <div>
      <div class="group-member list-item list-item-leader">

        <a href="/profile/{{.LeaderID}}" class="list-item-leader-name">
          <strong >{{.Firstname}} {{.Lastname}}</strong>
        </a>

        <form method="post">
          <input type="hidden" name="grp_id" value="{{$gid}}">
          <input type="hidden" name="del_id" value="{{.LeaderID}}">
          <input type="submit" value="Remove" name="remove" class="submit btn cta-btn-orange">
        </form>

      </div>
    </div>
    {{end}}
    {{end}}

  </article>
  {{end}}

</section>

{{end}}