<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <title>{{.title}}</title>
  </head>
  <body>
    <header>

      <div class="home-logo top-margin-lg">
        <h1 class="logo-type">Lobbo.io</h1>
        <img src="../images/logo-bubbles.svg" class="logo-img">
      </div>

      <div class="signin-signup">
        <a href="signin" class="cta-btn cta-btn-blue" tabindex="0">
          <h3>Sign-in</h3>
        </a>
        <a href="signup" class="cta-btn cta-btn-orange" tabindex="0">
          <h3>New Account</h3>
        </a>
      </div>

    </header>
    
    <main>

      <section>
        <div class="intro abt-lobby">

          <svg xmlns="http://www.w3.org/2000/svg" class="intro-img intro-img-right">
            <rect x="10" width="500" height="700" fill="#4A4A4A" />
          </svg>

          <div class="textbox textbox-left">
            <h2>Build a Lobby</h2>
            <p>
              Lobbies bring people together for a common purpose. Organize lobby
              members to meet or collaborate. Lobbies are ideal for planning
              events and coordinating with lobby members.
            </p>
          </div>
          
        </div>
      </section>

      <section class="section-background">
      <div class="intro abt-collab">
        <svg xmlns="http://www.w3.org/2000/svg" class="intro-img intro-img-left">
          <rect x="10" width="500" height="700" fill="#4A4A4A" />
        </svg>
        <div class="textbox textbox-right">
          <h2>Collaborate</h2>
          <p>
            Collaborate with teams with custom lobbies. Get together to plan,
            party, or play. Invite friends to join your lobby and make magic
            happen.
          </p>
        </div>
      </div>
      </section>

      <section>
      <section class="intro abt-invites">

        <svg xmlns="http://www.w3.org/2000/svg" class="intro-img intro-img-right">
          <rect x="10" width="500" height="700" fill="#4A4A4A" />
        </svg>

        <div class="textbox textbox-left">
          <h2>Invite Friends</h2>
          <p>
            Know someone who would be a great fit for your lobby? Friends can
            join your private lobby with just one click. Or, open your lobby to
            a larger community by making your lobby public.
          </p>
        </div>

      </section>
      </section>

      <section class="section-background">
      <div class="intro abt-joining">

        <svg xmlns="http://www.w3.org/2000/svg" class="intro-img intro-img-left">
          <rect x="10" width="500" height="700" fill="#4A4A4A" />
        </svg>

        <div class="textbox textbox-right">
          <h2>Join Lobbies</h2>
          <p>
            Contribute to projects, make new experiences, share your expertise. 
            Lobby members make the whole lobby work. Whether you're meeting new 
            people or making plans with old colleagues, what you bring to the 
            table matters.            
          </p>
        </div>
        
      </div>
      </section>

      <section>
      <div class="intro abt-track">

        <svg xmlns="http://www.w3.org/2000/svg" class="intro-img intro-img-right">
          <rect x="10" width="500" height="700" fill="#4A4A4A" />
        </svg>

        <div class="textbox textbox-left">
          <h2>Track Progress</h2>
          <p>
            Set goals, measure metrics, assign leader roles. Let your ambitions
            run wild! Or just plan a regular meet-up. Defining your lobby's
            purpose will help you meet your goals.
          </p>
        </div>

      </div>
      </section>

    </main>
    <footer>

      <!-- Footer Logo -->
      <div class="home-logo">
        <h1 class="logo-type">Lobbo.io</h1>
        <img src="../images/logo-bubbles.svg" class="logo-img">
      </div>

      <!-- Footer Legal -->
      

      <!-- Footer Copyright -->
      <small class="copyright">
        <div>
        <a href="#"><small>Privacy</small></a> | <a href="#"><small>Terms</small></a></div>
        <div>
        Copyright &copy;&nbsp;<small id="year"><noscript>2021</noscript></small>
        &nbsp;|&nbsp;<a href="http://vincentinspired.com"><small>vincentinspired.com<small></small></a></div>
      </small>

    </footer>

    <script src="../static/scripts/script.js"></script>

  </body>
</html>
