{{define "content"}}
{{with .lobby}}

<main class="lobby-page top-margin-sm">
  <header>
    <h3 class="lobby-title">{{.Title}}</h3>
  </header><br />

  <section>
    <div class="lobby-details">
      <a href="/profile/{{.OwnerID}}">
        <span class="lobby-owner">
          {{$.owner.Firstname}} {{$.owner.Lastname}}
        </span>
      </a><br />

      <span class="date">
        {{.MeetTime.Format "Jan 02, 2006 - 3:04pm"}}
      </span><br />

      <span class="location">
        {{.Location}}
      </span><br /><br /><br />

      <p class="summary">
        {{.Description}}
      </p>

    </div>
  </section> <br /><br />

  <section>

    <header class="members-header">
      <h4>Members</h4>
    
      <form Action="/join/{{.LobbyID}}" method="post" class="join-form">
        <input type="hidden" name="join-invite" value="{{.InviteOnly}}">
        <input type="submit" value="Join" class="submit btn cta-btn-orange">
      </form>
    </header>
    

  {{end}}

    <div class="list">
    {{range $.members}}
      <div class="list-item list-item-leader">

        <span class="member-name">
          {{.Firstname}} {{.Lastname}}
        </span>

        <a href="/profile/{{.LeaderID}}" class="profile-link">
          Profile
        </a>

        {{if eq $.leader_id $.lobby.OwnerID}}
        <form method="post">
          <input type="hidden" name="del-id" value="{{.LeaderID}}">
          <input type="submit" value="Delete" name="delete" class="submit btn cta-btn-orange">
        </form>
        {{end}}

      </div>
    
    {{end}}
    </div>
  </section>


</main>
{{end}}
