{{define "content"}}

<header class="top-margin-sm">
    <h3 class="page-title">{{.title}}</h3>
</header>

<form method="post" name="lobby-form" class="lobby-form">
    <div class="lobby-form-name">
        <label for="title">Lobby Name</label>
        <input class="text" type="text" name="title" id="title" required value="{{.lobby.Title}}">
    </div>
    <div class="lobby-form-description">
        <label for="summary">Summary</label>
        <textarea class="text" name="summary" id="summary" maxlength="250" rows="5" cols="30"
        >{{ .lobby.Description}}</textarea>
    </div>
    <div class="lobby-form-date">
        <label>
            <span>Activity Date</span><br>
            <input class="text" name="meet_date" type="date" value="{{.lobby.MeetTime.Format "2006-01-02"}}">&nbsp;
            <input class="text" name="meet_time" type="time" value="{{.lobby.MeetTime.Format "15:04"}}"> <br>
        </label>
    </div>
<div class="lobby-form-location">
    <label for="meet_loc">Location</label>
    <input class="text" type="text" name="meet_loc" id="meet_loc" value="{{.lobby.Location}}">
    <input class="text" type="url" name="loc_link" id="loc_link" placeholder="(optional) link">
</div>
<div class="lobby-form-cap-priv">
    <label for="capacity">Capacity</label>
    <input class="text" type="number" max="50" name="capacity" id="lobbycapacity" value="{{or .lobby.Capacity 10}}">
    
    <label for="visibility">Privacy</label>
    <select class="text" name="visibility" id="privacy" autocomplete="off">
        {{with .lobby}}
        <option value="public" {{or (ne .Privacy 0) "selected"}}>Public</option>
        <option value="user" {{or (ne .Privacy 1) "selected"}}>Logged-in</option>
        <option value="friend of friend"  {{or (ne .Privacy 2) "selected"}}>Friends of Friends</option>
        <option value="friend"  {{or (ne .Privacy 3) "selected"}}>Friends</option>
        <option value="private"  {{or (ne .Privacy 4) "selected"}}>Private</option>
        {{end}}
    </select>
</div>

<input type="hidden" name="owner_id" value="{{ .leader_id }}">
<input type="submit" value="Create Lobby" class="submit cta-btn cta-btn-orange">
</form>

{{end}}