{{define "content"}}

{{block "searchbar" .}}
{{end}}

<!-- 
  * TABS: My lobbies / Lobbies In 
-->

<form method="post" class="tabs">
  <input type="submit" name="lobby-type" class="tab my-lobbies {{if eq .title "Lobbies"}}tab-active{{end}}"
    value="My Lobbies">
  </input>
  <input type="submit" name="lobby-type" class="tab other-lobbies {{if eq .title "Lobbies-In"}}tab-active{{end}}"
    value="Lobbies In">
  </input>
</form>

<!-- 
  * END TABS
 -->

<br /><br />

<main class="list-page">

  <header class="">
    <h3 class="category-title">{{.title}}</h3>
    {{if (eq .title "Lobbies")}}
      <a href="/new/lobby" class="edit-group submit btn cta-btn-orange">+</a>
    {{end}}
  </header>

  <div class="list">
    {{range .lobbies}}
    <div class="list-item list-item-lobby">


      <section class="card-body">
        <a href="/lobby/{{.LobbyID}}">
          <h4 class="lobby-title">{{.Title}}</h4>
        </a>

        <small>
          {{.MeetTime.Format "Jan 02, 2006 - 3:04p"}} |
          {{.Location}}
        </small>
      </section>


      {{if eq $.title "Lobbies" }}
        <a href="/edit/lobby/{{.LobbyID}}" class="edit btn cta-btn-orange">edit</a>
      {{end}}

    </div>
    {{end}} 
  </div>

</main>

{{end}}
