{{define "content"}}
{{with .lobby}}

<main class="lobby-page top-margin-sm">
  <header>
    <h3 class="lobby-title">{{.Title}}</h3>
  </header><br />

  <section>
    <div class="lobby-details">
      <a href="/profile/{{.OwnerID}}">
        <span class="lobby-owner">
          {{$.owner.Firstname}} {{$.owner.Lastname}}
        </span>
      </a><br />
      {{if ne (.MeetTime.Format "2006") "0001"}}
      <span class="date">
        {{.MeetTime.Format "Jan 02, 2006 - 3:04pm"}}
      </span><br />
      {{end}}

      <span class="location">
        {{.Location}}
      </span><br /><br /><br />

      <p class="summary">
        {{.Description}}
      </p>

      {{if eq $.leader_id $.lobby.OwnerID}}
      <br><br>
      <a href="/edit/lobby/{{.LobbyID}}" class="edit btn cta-btn-orange">edit</a>
      {{end}}

    </div>
  </section> <br /><br />

  <section>

    <header class="members-header">
      <h4>Members</h4>
    
      <form Action="/join/{{.LobbyID}}" method="post" class="join-form">
        <input type="hidden" name="join-invite" value="{{.InviteOnly}}">
        <input type="submit" value="Join" class="submit btn cta-btn-orange">
      </form>
    </header>
    

  {{end}}

    <div class="list">
    {{range $.members}}
      <div class="group-member list-item list-item-leader">

        <a href="/profile/{{.LeaderID}}" class="list-item-leader-name">
        <strong class="member-name">
          {{.Firstname}} {{.Lastname}}
        </strong>
        </a>

        {{if eq $.leader_id $.lobby.OwnerID }}
        <form action="/edit/lobby/{{$.lobby.LobbyID}}" method="post">
          <input type="hidden" name="del-id" value="{{.LeaderID}}">
          <input type="submit" value="Remove" name="delete" class="submit btn cta-btn-orange">
        </form>
        {{else}}
        {{if eq .LeaderID $.leader_id}}
        <form action="/edit/lobby/{{$.lobby.LobbyID}}" method="post">
          <input type="hidden" name="del-id" value="{{.LeaderID}}">
          <input type="submit" value="Leave" name="delete" class="submit btn cta-btn-orange">
        </form>
        {{end}}
        {{end}}

      </div>
    
    {{end}}
    </div>
  </section>


</main>
{{end}}
