{{define "content"}}

<form method="post" class="tabs">
  <input type="submit" name="lobby-type" class="tab my-lobbies"
    value="My Lobbies">
  </input>
  <input type="submit" name="lobby-type" class="tab other-lobbies"
    value="Lobbies In">
  </input>
</form>

<br /><br />

<main class="list-page">
  <header><h3>{{.title}}</h3></header>
  {{with .lobbies}}
    {{range .}}
    <div class="sm-lobby-card lobbies-owned">

      <h4 class="lobby-title">{{.Title}}</h4>

      <section class="card-body">
        <span>{{.Description}}</span>
        <span>Lobby ID: {{.LobbyID}}</span>
      </section>

    </div>
    {{end}} 
  {{end}} 
</main>

{{end}}
