{{define "content"}}

<header class="top-margin-sm">
    <h3 class="page-title">{{.title}}</h3>
</header><br>

<form method="post" name="lobby-form" class="lobby-form">
    <div class="lobby-form-name">
        <label for="title">Lobby Name</label>
        <input class="text" type="text" name="title" id="title" required value="{{.lobby.Title}}">
    </div>
    <div class="lobby-form-description">
        <label for="summary">Summary</label>
        <textarea class="text" name="summary" id="summary" maxlength="250" rows="5" cols="30"
        >{{ .lobby.Description}}</textarea>
    </div>
    <div class="lobby-form-date">
        <label>
            <span>Activity Date</span><br>
            <input class="text" name="meet_date" type="date" value="{{if ne (.lobby.MeetTime.Format "2006") "0001"}}{{(.lobby.MeetTime.Format "2006-01-02")}}{{end}}">&nbsp;
            <input class="text" name="meet_time" type="time" value="{{and (ne .title "New Lobby") (.lobby.MeetTime.Format "15:04")}}"> <br>
        </label>
    </div>
<div class="lobby-form-location">
    <label for="meet_loc">Location</label>
    <input class="text" type="text" name="meet_loc" id="meet_loc" value="{{.lobby.Location}}">
    <input class="text" type="url" name="loc_link" id="loc_link" placeholder="(optional) link">
</div>
<div class="lobby-form-cap-priv">
    <label for="capacity">Capacity</label>
    <input class="text" type="number" max="50" name="capacity" id="lobbycapacity" value="{{or .lobby.Capacity 10}}">
    
    <label for="visibility">Visibility</label>
    <select class="text" name="visibility" id="visibility" autocomplete="off">
        {{with .lobby}}
        <option value="0" {{or (ne .Visibility 0) "selected"}}>Public</option>
        <option value="1" {{or (ne .Visibility 1) "selected"}}>Logged-in</option>
        <option value="2"  {{or (ne .Visibility 2) "selected"}}>Friends of Friends</option>
        <option value="3"  {{or (ne .Visibility 3) "selected"}}>Friends</option>
        <option value="4"  {{or (ne .Visibility 4) "selected"}}>Private</option>
        {{end}}
    </select>
</div>

<input type="hidden" name="owner_id" value="{{ .leader.LeaderID }}">
<input type="submit" name="upd_lobby" value="Set Lobby" class="submit cta-btn cta-btn-orange">
</form>

{{end}}