{{define "content"}}

<header>
  <div class="profile-name top-margin-sm">
    <h3>{{.leader.Firstname}} {{.leader.Lastname}}</h3>
    <small><a href="/signout" class="signout">Sign-out</a></small>
  </div>

</header>

<section class="lobbies-owned top-margin-sm">
  <h3>Lobbies Owned</h3>
  <div class="carousel-cards">
    {{with .ownedLobbies}}
      {{range .}}
        <div class="sm-lobby-card">
          <header class="sm-lobby-title">
            <h4>{{.Title}}</h4>
          </header>
          <br><br>
          <section class="sm-card-body">
            <div class="lobby-totals">
            <span>{{.Location}}</span><br /><br />
            <span>{{.MeetTime}}</span><br /><br />
            <span>{{.Description}}</span><br /><br />
            <small class="lobby-id">Lobby ID: {{.LobbyID}}</small>
            </div>
          </section>
        </div>
      {{end}}
    {{end}}
  </div>
</section>

<section class="lobbies-in">
  <h3>Lobbies In</h3>
  <div class="carousel-cards">
    {{range .inLobbies}}
    <div class="sm-lobby-card">
      <header class="sm-lobby-title">
        <h4>{{.Title}}</h4>
      </header>
      <section class="sm-card-body">
        <small>{{.OwnerName}}</small>
        <br /><br />
        <span>{{.Location}}</span><br /><br />
        <span>{{.MeetTime}}</span><br /><br />
        <span>{{.Description}}</span><br /><br />
        <small class="lobby-id">Lobby ID: {{.LobbyID}}</small>
      </section>
    </div>
    {{end}}
  </div>
</section>

<section class="colleagues">
  <h3>Colleagues</h3>

  <div class="list">
    {{range .colleagues}}

    <div class="list-item">
      <span class="colleague-name">
        {{.Firstname}} {{.Lastname}}
      </span>

      <a href="profile?leader_id={{.LeaderID}}" class="profile-link">
        Profile
      </a>

      <form method="post">
        <input type="hidden" name="del-id" value="{{.LeaderID}}">
        <input type="submit" value="Delete" name="delete" class="submit btn cta-btn-orange">
      </form>
    </div>

    {{end}}
  </div>

</section>

{{end}}
