{{define "content"}}
{{if not .is_colleague }}
<form action="/add/profile/{{.leader.LeaderID}}" method="post" class="add-colleague">
  <input type="submit" name="add-colleague" value="Add Colleague" class="submit btn cta-btn-orange">
</form>
{{end}}

<header>
  <div class="profile-name top-margin-sm">
    <h3>{{.leader.Firstname}} {{.leader.Lastname}}</h3>
    {{if eq $.leader.LeaderID $.leader_id}}
    <small>
      <a href="/signout" class="signout subtle-link">Sign-out</a>
    </small>
    {{end}}
  </div>

</header>

<section class="lobbies-owned top-margin-sm">
  <h3 class="page-title">Lobbies Owned</h3>
  <div class="carousel-cards">
    {{with .ownedLobbies}}
      {{range .}}
        <div class="sm-lobby-card">
          <header class="sm-lobby-title">
            <a href="/lobby/{{.LobbyID}}">
              <h4 class="lobby-title">
                {{.Title}}
              </h4>
            </a>
            <small>{{$.leader.Firstname}} {{$.leader.Lastname}}</small>
          </header>
          <br><br>
          <section class="sm-card-body">
            <div class="lobby-totals">
              <div class="time-loc">
                <span>{{.Location}}</span><br />
                <small>{{.MeetTime.Format "Jan 02, 2006 - 3:04p"}}</small>
              </div><br /><br />
            <span>{{.Description}}</span><br /><br />
            <small class="lobby-id">Lobby ID: {{.LobbyID}}</small>
            </div>
          </section>
        </div>
      {{end}}
    {{end}}
  </div>
</section>

<section class="lobbies-in">
  <h3 class="page-title">Lobbies In</h3>
  <div class="carousel-cards">
    {{range .inLobbies}}
    <div class="sm-lobby-card">
      <header class="sm-lobby-title">
        <a href="/lobby/{{.LobbyID}}">
          <h4 class="lobby-title">{{.Title}}</h4>
        </a>
        <small>{{.OwnerName}}</small>
      </header><br>
      <section class="sm-card-body">
        <br />
        <div class="time-loc">
          <span>{{.Location}}</span><br />
          <small>{{.MeetTime.Format "Jan 02, 2006 - 3:04p"}}</small>
        </div><br /><br />
        <span>{{.Description}}</span><br /><br />
        <small class="lobby-id">Lobby ID: {{.LobbyID}}</small>
      </section>
    </div>
    {{end}}
  </div>
</section>

<section class="colleagues">
  <h3 class="page-title">Colleagues</h3>

  <div class="list">
    {{range .colleagues}}

    <div class="group-member list-item list-item-leader">
      <a href="/profile/{{.LeaderID}}" class="list-item-leader-name">
        <span class="colleague-name">{{.Firstname}} {{.Lastname}}</span>
      </a>

      {{if eq $.leader.LeaderID $.leader_id}}
      <form method="post">
        <input type="hidden" name="del-id" value="{{.LeaderID}}">
        <input type="submit" value="Delete" name="delete" class="submit btn cta-btn-orange">
      </form>
      {{end}}
    </div>

    {{end}}
  </div>

</section>

{{end}}
