{{define "content"}}

<header>
  <div class="username">
    <img src="../images/icons/profile.svg" alt="Profile icon">
    <br />
    <span>Username</span>
  </div>
  <div class="bio">
    <span>Bio</span><br />
    <p>{{.bio}}</p>
    {{range .socials}}
    <a href="{{.socialLink}}">{{.socialSite}}</a>
    {{end}}
  </div>
  <div class="profile-actions">
    <span>Invite</span>
    <span>Add to Group</span>
    <span>Message</span>
  </div>
</header>

<section>
  <h3>Lobbies Owned</h3>
  <div>
    {{with .ownedLobbies}}
      {{range .}}
        <div class="sml-lobby-card lobbies-owned">
          <div class="option-dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <header class="sml-lobby-title">{{.Title}}</header>
          <section class="sml-card-body">
            <div class="lobby-totals">
            <br /><br />
            <span>{{.Description}}</span>
            <span>Lobby ID: {{.LobbyID}}</span>
            <div class="ask-to-join">
              <img src="../images/icons/people.svg" alt="Group" class="icon">
            </div>
          </section>
        </div>
      {{end}}
    {{end}}
  </div>
</section>

<section>
  <h3>Lobbies In</h3>
  <div>
    {{range .inLobbies}}
    <div class="sml-lobby-card lobbies-in">
      <div class="option-dots">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <header class="sml-lobby-title">{{.Title}}</header>
      <section class="sml-card-body">
        <span>{{.OwnerName}}</span>
        <br /><br />
        <span>{{.Description}}</span>
        <span>Lobby ID: {{.LobbyID}}</span>
        <div class="ask-to-join">
          <img src="../images/icons/people.svg" alt="Group" class="icon">
        </div>
      </section>
    </div>
    {{end}}
  </div>
</section>

{{end}}
