<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <title>New Account</title>
</head>
<body>

    <div class="app-logo top-margin-med center">
        <h1 class="logo-type">Lobbo.io</h1>
        <img src="/images/logo-bubbles.svg" class="logo-img">
      </div>

    <form method="POST" class="acct-form">
        <label for="fname">First name</label>
        <input type="text" name="fname" id="fname" class="text" autofocus>

        <label for="lname">Last name</label>
        <input type="text" name="lname" class="text" id="lname">

        <label for="usrname">Username</label>
        <input type="text" name="usrname" id="usrname" class="text">

        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass" class="text" placeholder="8 characters minimum">

        <input type="submit" value="Create Account" class="submit cta-btn cta-btn-blue">
    </form>

    <div class="center">
        <small>Already have an account?</small><br>
        <a href="/signin" class="subtle-link">Sign-in</a>
    </div>
</body>


</html>