// @import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
}

body {
  background-color: $black;
}
footer {
  background-color: $footerblue;
  min-height: 20rem;
}

  /* 
 * **************************************************
 * ****************** Typography ********************
 * **************************************************
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secular;
  text-shadow: 0 2px 2px rgba(black, 0.25);
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5,
h6,
p,
a,
li,
label,
span,
pre,
strong {
  font-size: 1.6rem;
  font-family: $roboto;
}

small {
  font-size: 1.4rem;
}

a {
  color: $linkblue;
}

  /* 
 * **************************************************
 * ********************* Logo ***********************
 * **************************************************
 */

.home-logo {
  @include flexCenter(column-reverse);
}

.logo-type {
  position: relative;
  /* bottom: -1rem; */
  /* font-size: 5rem; */
  color: $orange;
}

/* 
 * **************************************************
 * ****************** Components ********************
 * **************************************************
 */

 .home-logo {
    @include flexCenter(row);
    margin: 8rem auto 5rem auto;
  }
  
  .cta-btn {
    color: white;
    padding: 0.8rem 1.6rem;
    margin: 2rem;
    min-width: 25rem;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .cta-btn-blue {
    background-color: $blue;
  }
  
  .cta-btn-orange {
    background-color: $orange;
  }
  
  .textbox-left,
  .textbox-right {
    max-width: 40rem;
  }
  