* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	color: white;
}

body {
	background-color: $black;
	overflow-x: hidden;
}

.body-mobile {
	padding-bottom: 10rem;
}

footer {
	background-color: $footerblue;
	min-height: 20rem;
	padding: 3rem;
}

/* 
 * **************************************************
 * ****************** Typography ********************
 * **************************************************
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $secular;
	text-shadow: $text-shadow;
	font-weight: 400;
}

h1 {
	font-size: 5rem;
	font-weight: 900;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5,
h6,
p,
a,
li,
label,
input,
textarea,
select,
span,
pre,
strong {
	font-size: 1.6rem;
	font-family: $roboto;
}

small,
small a {
	font-size: 1.2rem;
	font-family: $roboto;
}

a {
	text-decoration: none;
}

a:not(.cta-btn) {
	color: $linkblue;
	transition: opacity 0.2s ease-out;

	&:hover {
		box-shadow: inset 0 -0.4rem 0 -0.1rem $dkblue;
		opacity: 70%;
	}
}

section h3 {
	margin-left: 2rem;
}

footer a {
	color: white;
}

.copyright {
	@include flexCenter(column);
	gap: 1rem;
}

.category-title {
	margin-left: 1.6rem;
}

/* 
 * **************************************************
 * ********************* Logo ***********************
 * **************************************************
 */

.home-logo {
	@include flexCenter(column-reverse);
}

.app-logo {
	@include flexCenter(row);
	align-items: flex-end;
}

.logo-type {
	position: relative;
	/* bottom: -1rem; */
	/* font-size: 5rem; */
	color: $orange;
}

/* 
 * **************************************************
 * ********************* Forms **********************
 * **************************************************
 */

form {
	.text {
		background-color: $dkgray;
		border: none;
		color: white;
		padding: 0.8rem 0.8rem 0.5rem 0.8rem;
		transition: box-shadow 0.2s ease-out, background 0.2s ease-out;

		&:focus {
			outline: none;
			background-color: transparent;
			box-shadow: inset 0 0 0.4rem 0 black;
		}
	}

	.submit {
		font-size: 2rem;
		text-shadow: $text-shadow;
		border: none;
		transition: background 0.2s ease-out;

		&:hover {
			background-color: rgba($color: $blue, $alpha: 0.5);
			box-shadow: inset 0 0 0 0.2rem $blue;
			cursor: pointer;
		}
	}

	textarea {
		max-width: 32rem;
		resize: none;
	}
}

/* 
 * **************************************************
 * ****************** Components ********************
 * **************************************************
 */

// .home-logo {
// 	@include flexCenter(column-reverse);
// 	margin: 8rem auto 5rem auto;
// }

.navlinks {
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100vw;
	background-color: $dkblue;
	padding: 0.8rem 0;
	z-index: 100;

	a {
		display: inline-block;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 1.2rem;
	}
}

.icon {
	width: 2.5rem;
}

.icon-settings {
	position: absolute;
	top: 0;
	right: 0;

	img {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1.6rem;
	}
}

.carousel-cards {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: visible;
	margin: 1.6rem 0 4rem 0;
	padding: 0 1.6rem 1.6rem 1.6rem;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel-cards::-webkit-scrollbar {
	display: none;
}

.sm-lobby-card {
	position: relative;
	min-width: 25rem;
	min-height: 27rem;
	background-color: rgb(74, 74, 74);
	padding: 1.6rem;
	margin: 0 1.6rem;
	border-radius: 0.5rem;
	box-shadow: -0.6rem 0.6rem 0.4rem 0.2rem rgba(28, 28, 28, 58%);

	header.sm-lobby-title h4 {
		font-family: $roboto;
		font-weight: 700;
		line-height: 1;
		background-color: $dkblue;
		box-shadow: 0 0 0 1.6rem $dkblue, 0 0.8rem 0 1.6rem $dkblue;
	}

	.lobby-id {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
	}
}

.list {
	width: 90%;
	margin: 1.6rem auto 4rem auto;
}

.list-item {
	display: grid;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem 0.8rem;
	margin-bottom: 0.2rem;
	transition: transform 0.2s ease-out;

	&:nth-child(odd) {
		background-color: #6e6e6e;
	}

	&:nth-child(even) {
		background-color: #4a4a4a;
	}

	&:hover {
		transform: scale(1.02);
		box-shadow: 0 0.2rem 0.6rem -0.2rem black;
	}

	form {
		justify-self: end;
	}
}

.list-item-leader {
	grid-template-columns: 1fr 0.6fr 0fr;

	.profile-link {
		justify-self: center;
	}
}

.list-item-lobby {
	grid-template-columns: 1fr 0fr;
	padding: 1rem;
}

.tabs {
	display: flex;
	width: 90%;
	margin: 2rem auto 0 auto;
	box-shadow: inset 0 0 0.3rem -0.1rem black;
}

.tab {
	flex-grow: 1;
	background-color: inherit;
	border: none;
	color: white;
	padding: 1.6rem 0;
	cursor: pointer;
	// box-shadow: inset 0 -0.3rem 0.2rem -0.2rem black,
	// 	inset 0 0.3rem 0.2rem -0.2rem black;
	opacity: 40%;
}

.tab-active {
	background-color: $dkgray;
	opacity: 100%;
}

form input.btn {
	padding: 0.4rem 0.8rem;
	border-radius: 0.5rem;
	font-size: 1.4rem;
}

// .sm-lobby-card::before {
// 	content: "\00a0 ";
// 	margin-left: ;
// 	background-color: #000;
// }

.cta-btn {
	padding: 0.8rem 1.6rem;
	margin: 2rem;
	min-width: 25rem;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 700;
}

.cta-btn-blue {
	background-color: $blue;
	color: white;
}

.cta-btn-orange {
	background-color: $orange;
	color: white;
}

.textbox-left,
.textbox-right {
	max-width: 40rem;
}

.list-item .edit {
	color: white;
	text-align: center;
	padding: 1rem;
	border-radius: 0.5rem;
	text-decoration: none;
	text-shadow: $text-shadow;
	// transition: background 0.2s ease-out;

	&:hover {
		background-color: $blue;
		opacity: 100%;
	}
}
