// ****************************************
// *************** Type *******************
// ****************************************
$secular: "Secular One", sans-serif;
$roboto: "Roboto", sans-serif;

$text-shadow: 0 0.1rem 0.2rem rgba(black, 0.8);

// ****************************************
// ************** Color *******************
// ****************************************
$blue: rgb(57, 175, 191);
$dkblue: rgb(1, 143, 161);
$linkblue: rgb(104, 237, 255);
$footerblue: rgb(26, 111, 122);

$orange: rgb(250, 152, 40);
$dkorange: rgb(224, 114, 13);

$black: rgb(45, 45, 45);
$dkgray: rgb(74, 74, 74);
$gray: rgb(100, 100, 100);

// use with box-shadow
$blue-underline: inset 0 -0.4rem 0 -0.1rem $dkblue;
