/* 
 * **************************************************
 * ********************* Color **********************
 * **************************************************
 */

$blue: #39AFBF;
$dkblue: #269EAE;
$linkblue: #68EDFF;
$footerblue: #1A6F7A;

$orange: #E58718;
$dkorange: #E0720D;

$black: #2D2D2D;

/* 
 * **************************************************
 * ******************** Type ************************
 * **************************************************
 */

 $secular: "Secular One", sans-serif;
 $roboto: 'Roboto', sans-serif;