@import "variables";
@import "helper";
@import "global";

/* 
 * **************************************************
 * ******************* Home Page ********************
 * **************************************************
 */

.signin-signup {
	@include flexCenter(column);
	text-align: center;
	margin: auto;
	width: 100%;
}

.textbox-left {
	grid-column-start: 2;
}

.textbox-right {
	grid-column-start: 3;
}

.intro-img-left {
	grid-column-start: 2;
}

.intro-img-right {
	grid-column-start: 3;
}

.intro {
	margin: 5rem auto;
	text-align: center;
	/* margin: 3rem; */
	/* position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 1fr 10%;
  column-gap: 3rem; */
}

.intro p {
	text-align: left;
	margin: 0 4rem;
}

.section-background {
	background-color: $blue;
	width: 100%;
	min-height: 20rem;
	padding: 3rem 0;
}

/* 
 * **************************************************
 * ***************** Sign-in Page *******************
 * **************************************************
 */

.acct-form {
	display: grid;
	grid-template-columns: 8.6rem 1fr;
	align-items: end;
	row-gap: 2rem;
	width: 80%;
	margin: 3rem auto;
}

.submit {
	grid-column-start: 1;
	grid-column-end: 3;
}

/* 
 * **************************************************
 * ***************** Profile Page *******************
 * **************************************************
 */

.profile-name {
	text-align: center;
}

.time-loc {
	background-color: #6e6e6e;
	box-shadow: 0 0 0 0.8rem #6e6e6e, 0 0.3rem 0.5rem 0.4rem #000;
}

/* 
 * **************************************************
 * ***************** Lobby Page *******************
 * **************************************************
 */

.lobby-page .lobby-title,
.lobby-details {
	margin-left: 1.6rem;
}

.lobby-details span {
	font-size: 1.4rem;
	line-height: 1.5;
}

.lobby-owner {
	color: white;
	text-decoration-color: white;
}

a h4.lobby-title {
	color: white;
	text-decoration: none;
	box-shadow: none;

	&:hover {
		opacity: 100%;
	}
}

.members-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 1.6rem;

	h4 {
		font-size: 2.5rem;
	}
}

.join-form {
	margin: 1.6rem;

	.submit {
		padding: 0.8rem 1.6rem;
		font-size: 1.6rem;
		font-weight: 700;
	}
}
