@import "variables";
@import "helper";
@import "global";

/* 
 * **************************************************
 * ******************* Home Page ********************
 * **************************************************
 */

.signin-signup {
	@include flexCenter(column);
	text-align: center;
	margin: auto;
	width: 100%;
}

.textbox-left {
	grid-column-start: 2;
}

.textbox-right {
	grid-column-start: 3;
}

.intro-img-left {
	grid-column-start: 2;
}

.intro-img-right {
	grid-column-start: 3;
}

.intro {
	margin: 5rem auto;
	text-align: center;
	/* margin: 3rem; */
	/* position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 1fr 10%;
  column-gap: 3rem; */
}

.intro p {
	text-align: left;
	margin: 0 4rem;
}

.section-background {
	background-color: $blue;
	width: 100%;
	min-height: 20rem;
	padding: 3rem 0;
}

/* 
 * **************************************************
 * ***************** Sign-in Page *******************
 * **************************************************
 */

.acct-form {
	display: grid;
	grid-template-columns: 8.6rem 1fr;
	align-items: end;
	row-gap: 2rem;
	width: 80%;
	margin: 3rem auto;
}

.submit {
	grid-column-start: 1;
	grid-column-end: 3;
}

/* 
 * **************************************************
 * ***************** Profile Page *******************
 * **************************************************
 */

.profile-name {
	text-align: center;
}
