.top-margin-sm {
  margin-top: 3rem;
}

.top-margin-med {
  margin-top: 7rem;
}

.top-margin-lg {
  margin-top: 10rem;
}

.center {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
}

body {
  background-color: #2d2d2d;
  overflow-x: hidden;
}

.body-mobile {
  padding-bottom: 10rem;
}

footer {
  background-color: #1a6f7a;
  min-height: 20rem;
  padding: 3rem;
}

/* 
 * **************************************************
 * ****************** Typography ********************
 * **************************************************
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5,
h6,
p,
a,
li,
label,
legend,
input,
textarea,
select,
span,
pre,
strong {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

small,
small a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

a.subtle-link {
  color: #68edff;
  text-decoration: underline;
  opacity: 80%;
}

footer a {
  color: white;
}

footer .logo-type {
  color: white;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.category-title {
  margin-left: 1.6rem;
}

/* 
 * **************************************************
 * ********************* Logo ***********************
 * **************************************************
 */
.home-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-logo .logo-img {
  max-width: 50vw;
  margin: 0;
}

.app-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo-type {
  position: relative;
  /* bottom: -1rem; */
  /* font-size: 5rem; */
  color: #fa9828;
}

.logo-img {
  max-width: 20vw;
  margin: 0.8rem;
}

/* 
 * **************************************************
 * ********************* Forms **********************
 * **************************************************
 */
form .text {
  background-color: #4a4a4a;
  border: none;
  color: white;
  padding: 0.8rem 0.8rem 0.5rem 0.8rem;
  -webkit-transition: background 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
  transition: background 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, background 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, background 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}

form .text:focus {
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0.4rem 0 black;
          box-shadow: inset 0 0 0.4rem 0 black;
}

form .submit {
  font-size: 2rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
  border: none;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

form textarea {
  max-width: 32rem;
  resize: none;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  gap: 0.8rem;
}

.searchbar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.icon-search {
  width: 5rem;
}

/* 
 * **************************************************
 * ****************** Components ********************
 * **************************************************
 */
.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  background-color: #018fa1;
  padding: 0.8rem 0;
  z-index: 100;
}

.navlinks a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.icon {
  width: 2.5rem;
}

.icon-settings {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-settings img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.6rem;
}

.carousel-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  margin: 1.6rem 0 4rem 0;
  padding: 0 1.6rem 1.6rem 1.6rem;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel-cards::-webkit-scrollbar {
  display: none;
}

.sm-lobby-card {
  position: relative;
  min-width: 25rem;
  min-height: 27rem;
  background-color: #4a4a4a;
  padding: 1.6rem;
  margin: 0 1.6rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: -0.6rem 0.6rem 0.4rem 0.2rem #1c1c1c;
          box-shadow: -0.6rem 0.6rem 0.4rem 0.2rem #1c1c1c;
}

.sm-lobby-card header.sm-lobby-title h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.sm-lobby-card .lobby-id {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.list {
  width: 90%;
  margin: 1.6rem auto 4rem auto;
}

.list-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 0.8rem;
  margin-bottom: 0.2rem;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.list-item:nth-child(odd) {
  background-color: #6e6e6e;
}

.list-item:nth-child(even) {
  background-color: #4a4a4a;
}

.list-item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0.2rem 0.6rem -0.2rem black;
          box-shadow: 0 0.2rem 0.6rem -0.2rem black;
}

.list-item form {
  -ms-grid-column-align: end;
      justify-self: end;
}

.list-item-leader {
  -ms-grid-columns: 1fr 0.6fr 0fr;
      grid-template-columns: 1fr 0.6fr 0fr;
}

.list-item-leader .profile-link {
  -ms-grid-column-align: center;
      justify-self: center;
}

.list-item-lobby {
  -ms-grid-columns: 1fr 0fr;
      grid-template-columns: 1fr 0fr;
  padding: 1rem;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 2rem auto 0 auto;
  -webkit-box-shadow: inset 0 0 0.3rem -0.1rem black;
          box-shadow: inset 0 0 0.3rem -0.1rem black;
}

.tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: inherit;
  border: none;
  color: white;
  padding: 1.6rem 0;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -0.1rem 0.3rem -0.2rem black;
          box-shadow: inset 0 -0.1rem 0.3rem -0.2rem black;
  opacity: 40%;
  -webkit-transition: opacity 0.2s ease-out, -webkit-box-shadow 0.1s ease-out;
  transition: opacity 0.2s ease-out, -webkit-box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out, opacity 0.2s ease-out;
  transition: box-shadow 0.1s ease-out, opacity 0.2s ease-out, -webkit-box-shadow 0.1s ease-out;
}

.tab:hover {
  -webkit-box-shadow: inset 0 -0.4rem 0 -0.1rem #018fa1;
          box-shadow: inset 0 -0.4rem 0 -0.1rem #018fa1;
  opacity: 100%;
}

.tab-active {
  background-color: #4a4a4a;
  opacity: 100%;
}

form input.btn {
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  font-weight: 700;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.btn:hover {
  background-color: #39afbf;
  cursor: pointer;
}

.btn-top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.6rem;
}

.cta-btn {
  padding: 0.8rem 1.6rem;
  margin: 2rem;
  min-width: 25rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

.cta-btn:hover {
  opacity: 0.8;
}

.cta-btn-blue {
  background-color: #39afbf;
  color: white;
}

.cta-btn-orange {
  background-color: #fa9828;
  color: white;
}

.textbox-left,
.textbox-right {
  max-width: 40rem;
}

.edit {
  color: white;
  text-align: center;
  border-radius: 0.5rem;
  text-decoration: none;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
}

.list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 0;
}

/* 
 * **************************************************
 * ******************* Home Page ********************
 * **************************************************
 */
.signin-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

.textbox-left {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.textbox-right {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.intro-img-left {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.intro-img-right {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.intro {
  margin: 5rem auto;
  text-align: center;
  /* margin: 3rem; */
  /* position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 1fr 10%;
  column-gap: 3rem; */
}

.intro p {
  text-align: left;
  margin: 0 4rem;
}

.section-background {
  background-color: #39afbf;
  width: 100%;
  min-height: 20rem;
  padding: 3rem 0;
}

/* 
 * **************************************************
 * ***************** Sign-in Page *******************
 * **************************************************
 */
.acct-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8.6rem 1fr;
      grid-template-columns: 8.6rem 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  row-gap: 2rem;
  width: 80%;
  margin: 3rem auto;
}

.submit {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

/* 
 * **************************************************
 * ***************** Profile Page *******************
 * **************************************************
 */
.profile-name {
  text-align: center;
}

.time-loc {
  background-color: #646464;
  -webkit-box-shadow: -1rem 0 0 0.8rem #646464, 1rem 0 0 0.8rem #646464, -1.5rem 0.3rem 0.7rem 0.4rem black, 1rem 0.3rem 0.7rem 0.4rem black;
          box-shadow: -1rem 0 0 0.8rem #646464, 1rem 0 0 0.8rem #646464, -1.5rem 0.3rem 0.7rem 0.4rem black, 1rem 0.3rem 0.7rem 0.4rem black;
}

.add-colleague {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.6rem;
}

/* 
 * **************************************************
 * ***************** Lobby Page *******************
 * **************************************************
 */
.lobby-page .lobby-title,
.lobby-details {
  margin-left: 1.6rem;
}

.lobby-details span {
  font-size: 1.4rem;
  line-height: 1.5;
}

.lobby-owner {
  color: white;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

a h4.lobby-title {
  color: white;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a h4.lobby-title:hover {
  opacity: 100%;
}

.members-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.6rem;
}

.members-header h4 {
  font-size: 2.5rem;
}

.join-form {
  margin: 1.6rem;
}

.join-form .submit {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
}

/* 
 * **************************************************
 * ****************** Groups Page *******************
 * **************************************************
 */
.group-links {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.group-links .tab {
  color: white;
  font-weight: 700;
  text-align: center;
  min-width: 30vw;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.group-links .new-group-btn {
  opacity: 80%;
}

.group-links .new-group-btn:hover {
  opacity: 100%;
}

.group-member a {
  color: white;
}

/* 
 * **************************************************
 * ******************* Edit Page ********************
 * **************************************************
 */
.page-title {
  margin-left: 2rem;
}

.lobby-form,
.group-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 85%;
  margin: auto;
}

.lobby-form label,
.group-form label {
  display: block;
  line-height: 2;
}

.lobby-form input,
.group-form input {
  margin-bottom: 0.8rem;
}

/* 
 * **************************************************
 * *************** New Group Page *******************
 * **************************************************
 */
.group-form-colleagues {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  min-height: 27vh;
  grid-auto-rows: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  background-color: #4a4a4a;
  overflow: scroll;
  max-height: 50vh;
  border: none;
}

.group-form-colleagues legend {
  -webkit-transform: translateY(-1.6rem);
          transform: translateY(-1.6rem);
  margin-top: 2rem;
}

.group-form-colleagues label {
  display: inline;
}

.checkboxes-colleagues {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 1fr;
      grid-template-columns: 0fr 1fr;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkboxes-colleagues label {
  line-height: 1.4;
}

.checkbox {
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: #2d2d2d;
  border: 0.1rem solid #4a4a4a;
  -webkit-box-shadow: inset 0px 0px 0.9rem -0.6rem black;
          box-shadow: inset 0px 0px 0.9rem -0.6rem black;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 0.4rem 0 0;
}

input[type="checkbox"]:checked {
  background-color: rgba(250, 152, 40, 0.9);
  border: 1px solid #adb8c0;
}
/*# sourceMappingURL=style.css.map */