@import "variables";
@import "helper";
@import "global";

/* 
 * **************************************************
 * ******************* Home Page ********************
 * **************************************************
 */

.signin-signup {
	@include flexCenter(column);
	text-align: center;
	margin: auto;
	width: 100%;
}

.intro {
	width: 100%;
	margin: 5rem auto;
	text-align: center;
}

.textbox,
.intro-img {
	max-width: 70rem;
	margin: 0 auto;
}

.intro p {
	text-align: left;
	margin: 0 4rem;
}

.section-background {
	background-color: $blue;
	min-height: 20rem;
	padding: 3rem 0;
}

@media screen and (min-width: 800px) {
	.intro {
		display: flex;
		justify-content: space-evenly;
		width: 80%;
		max-width: 120rem;
		margin: 20rem auto;
	}

	.textbox {
		margin: 0 4rem;
	}

	.textbox-left {
		order: 0;
		flex-grow: 1;
	}
	.textbox-right {
		order: 1;
		flex-grow: 1;
	}
	.intro-img-left {
		order: 0;
		flex-grow: 1;
	}
	.intro-img-right {
		order: 1;
		flex-grow: 1;
	}

	.intro p {
		padding: 0 1.6rem;
	}
}

/* 
 * **************************************************
 * ***************** Sign-in Page *******************
 * **************************************************
 */

.acct-form {
	display: grid;
	grid-template-columns: 8.6rem 1fr;
	align-items: end;
	row-gap: 3rem;
	width: 80%;
	margin: 3rem auto;

	.submit {
		margin: auto;
	}
}

.submit {
	grid-column-start: 1;
	grid-column-end: 3;
}

@media screen and (min-width: 800px) {
	.acct-form {
		margin: 10rem auto;
		row-gap: 5rem;
		max-width: 70rem;
	}
}

/* 
 * **************************************************
 * ***************** Profile Page *******************
 * **************************************************
 */

.profile-name {
	text-align: center;
}

.time-loc {
	background-color: $gray;
	box-shadow: -1rem 0 0 0.8rem $gray, 1rem 0 0 0.8rem $gray,
		-1.5rem 0.3rem 0.7rem 0.4rem black, 1rem 0.3rem 0.7rem 0.4rem black;
}

.add-colleague {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1.6rem;
}

@media screen and (min-width: 800px) {
	.profile-name {
		margin: inherit auto;
	}
}

/* 
 * **************************************************
 * ***************** Lobby Page *******************
 * **************************************************
 */

.lobby-page .lobby-title,
.lobby-details {
	margin-left: 1.6rem;
}

.lobby-details span {
	font-size: 1.4rem;
	line-height: 1.5;
}

.lobby-owner {
	color: white;
	text-decoration-color: white;
}

.lobby-title {
	color: white;
	text-decoration: none;
	box-shadow: none;

	&:hover {
		opacity: 100%;
	}
}

.members-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 1.6rem;

	h4 {
		font-size: 2.5rem;
	}
}

.join-form {
	margin: 1.6rem;

	.submit {
		padding: 0.8rem 1.6rem;
		font-size: 1.6rem;
		font-weight: 700;
	}
}

/* 
 * **************************************************
 * ****************** Groups Page *******************
 * **************************************************
 */

.group-links {
	flex-wrap: wrap;

	.tab {
		color: white;
		font-weight: 700;
		text-align: center;
		min-width: 30vw;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}

	.new-group-btn {
		opacity: 80%;

		&:hover {
			opacity: 100%;
		}
	}
}

.group-member a {
	color: white;
}

/* 
 * **************************************************
 * ******************* Edit Page ********************
 * **************************************************
 */

.page-title {
	margin-left: 2rem;
	color: white;
}

.lobby-form,
.group-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 85%;
	margin: auto;

	label {
		display: block;
		line-height: 2;
	}

	input {
		margin-bottom: 0.8rem;
	}
}

/* 
 * **************************************************
 * *************** New Group Page *******************
 * **************************************************
 */

.group-form-colleagues {
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 27vh;
	grid-auto-rows: 5rem;
	align-items: center;
	vertical-align: middle;
	background-color: $dkgray;
	overflow: scroll;
	max-height: 50vh;
	border: none;

	legend {
		transform: translateY(-1.6rem);
		margin-top: 2rem;
	}

	label {
		display: inline;
	}
}

.checkboxes-colleagues {
	display: grid;
	grid-template-columns: 0fr 1fr;
	padding: 1rem;
	align-items: center;

	label {
		line-height: 1.4;
	}
}

.checkbox {
	display: inline-block;
	vertical-align: middle;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	background-color: $black;
	border: 0.1rem solid $dkgray;
	box-shadow: inset 0px 0px 0.9rem -0.6rem black;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 0 0.4rem 0 0;

	&:checked {
		background-color: rgba($color: $orange, $alpha: 0.9);
		border: 1px solid #adb8c0;
	}
}

/* 
 * **************************************************
 * ****************** Search Page *******************
 * **************************************************
 */

.list-page {
	position: relative;
}

.search-next,
.search-prev {
	position: relative;
}

.search-next {
	left: 70%;
}

.search-prev {
	left: 10%;
}
